{% if note %}
<div class="note">
    <div class="note__body">
        <h5 class="note__date">{{ note.updatedAt }}</h5>
        <p class="note__text">{{ note.note }}</p>
    </div>
    <div class="note__footer">
        <p>{{ note.tag }}</p>
    </div>
</div>
{% endif %}
